.book{
    color:white;
  
  }
  .book li{
    list-style:none;
    list-style-type: none;
  }
  .navchose a{
  text-decoration: none;
  color: white;
  }
  .content{
    color: white;
    min-height: 500px;
  }
  .content tr{
    height: 50px;
  }
 